#pip install -r requirements.txt
#python 3.8.0

pandas
flask
Flask-Cors
Flask-Session
gunicorn
joblib
secure-smtplib
scikit-learn>=1.4.0
xgboost==1.6.0
requests
google-generativeai
python-dotenv
pytest
allure-pytest
